<% if Helpers.is_logged_in?(session) %>

<% user = Helpers.current_user(session) %>

<h1>Welcome <%= user.username %></h1>

<h3>Your Balance: <%= user.balance %></h3>
<a href="/logout">Log Out</a>

<% else %>

<h1>You Must <a href="/">Log In</a> to View Your Balance</h1>

<% end %>
