<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <%if Helpers.is_logged_in?(session) %>
      <% @user = Helpers.current_user(session) %>
      <h1>Welcome <%= @user.username %></h1>
      <h3>Your Balance: <%= @user.balance %></h3>
      <a href='/logout'>Log Out</a>
    <% else %>
      <h1> You are not logged in! </h1>
      <a href='/'>Log in here </a>
    <% end %>
  </body>
</html>