<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <form action='/logout' method="GET">
      <input type="submit" value="Log Out">
    </form>

    <h1>Welcome <%=@user.username%></h1>
    <h3>Your Balance: <%=@user.balance%></h3>
  </body>
</html>