<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session) %>
      <h3>Welcome <%= @user.username %></h3>
      <p>Account Balance: <%= @user.balance %></p>
    <% else %>
      <a href="/">Home</a>
    <% end %>
    <form method="post" action="/logout">
      <input type="submit" value="Log Out">
    </form>
  </body>
</html>
