<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <% if @user.self.is_logged_in? %>
         "Welcome, <%= @user.username %>"
         "Account Balance: <%= @user.balance %>"
         
        <% else %>
        <a href="/error"></a>
  </body>
</html>