<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  
  <body id="page-top">
    <h1>Welcome <%=@user.username%></h1>
      <h3>Balance: <%=@user.balance%></h3>
    <a href="/sessions/logout">Log Out</a>
  </body>
</html>