<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    "Welcome, <%=@user.username%>!"
    "Balance: <%=@user.balance%>"
  <!-- look at last instruction bullet - use helper methods here?? -->
    <a href="/logout">Log Out</a>

  </body>
</html>
