<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    
    <h2><% if User.is_logged_in? %></h2>
    <h2><%=User.current_user.username %></h2>
    <h2><%=User.current_user.balance %></h2>
    <h2><% else %></h2>
    <h2><% redirect '/' %></h2>
    
   <a href="/logout">Log Out</a>
  </body>
</html>