<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if @user.is_logged_in(params) %>
      <div class="one">
        "Username: <%=@user.username%>"
        "Balance: <%=@user.balance%>"

        <a href="/logout">Log Out</a>
      </div>
    <% else %>
      <div class="two">
        <a href="/">Home Page</a>
      </div>
    <% end %>
  </body>
</html>
