<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <p>Welcome <%=@user.username %></p>
    <p>Your Balance <%=@user.balance%></p>
    <a href="/logout">Log Out</a>
    <!-- will it hit the right link? -->
  </body>
</html>
