<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <%if Helpers.is_logged_in?(session)%>
      <%user = Helpers.current_user(session)%>
      <h1>Welcome <%= user.username%></h1>
      <h3>Your Balance: <%= user.balance%></h3>
      <form action="/logout" method="get">
        <input type="submit" name="logout" id="logout" value="Log Out">
      </form>
    <%else%>  
      <p>You Must <a href="/">Log In</a> to View Your Balance</p>
    <%end%>
  </body>
</html>
