<% if Helpers.is_logged_in?(session) %>
  <h1>Welcome <%= Helpers.current_user(session).username %></h1>
  <h3>Your Balance: <%= Helpers.current_user(session).balance %></h3>
  <p><a href="/">Log Out</a></p>
<% else %>
  You Must <a href="/">Log In</a> to View Your Balance
<% end %>


<p><a href="/">Homepage</a></p>
