    <% if Helpers.is_logged_in?(session) == true %>
      <h1>Welcome <%= Helpers.current_user(session).username%></h1>
      <br>
        <h3>Your Balance: <%= Helpers.current_user(session).balance %></h3>
      <br>
      <br>
      <br>
      <a href="/logout" id = "Log Out">Log Out</a>
    <% else %>
      <a href="/"> Homepage </a>
    <% end %>
