<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <p>Welcome <%=@current_user.username%></p>
    <p>Your balance is: $<%=@current_user.balance%></p>
    <a href="/logout">Logout</a>
  </body>
</html>