<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session) %>
    <p>Welcome <%=Helpers.current_user(session).username%></p>
    <p>Your balance is: $<%=Helpers.current_user(session).balance%></p>
    <% else %>
    <% end %>
    <a href="/logout">Logout</a>
  </body>
</html>