<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <% if Helpers.is_logged_in?(@session) %>
      <h2>Username : <%= @user.username %></h2>
      <h2>User Balance : <%= @user.balance %></h2>
    <% end %>

    <a href="/logout">Log Out</a>
  </body>
</html>
