<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session)%>
      <h1>Welcome <%=@user.username%></h1>
      <h3>Your balance: <%=@user.balance%> </h3>
    <% else %>
      <% binding.pry %>
      <p> You must <a href="/"> Log In </a> to view your balance<p>
    <%end%>
    <a href="/index">Log Out</a>
  </body>
</html>
