<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1><%= @user.username %></h1>
    <h1><%= @user.email %></h1>
    <h1><%= @user.balance %></h1>
    <a href="/logout">Log Out</a>

  </body>
</html>
