<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <a href="/logout">Log Out</a>
     <%if Helpers.is_logged_in?(session)%>
       <h1>Welcome <%=Helpers.current_user(session).username%></h1>
        <h3>Your Balance: <%=Helpers.current_user(session).balance.to_f%></h3>
     <% else %>
      <a href="/">Return to the home page</a>
    <% end %>

  
  </body>
</html>