<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if !!Helpers.is_logged_in?(session)%>
    <h1>Welcome <%=Helpers.current_user(session).username%></h1>
    <h3>Your Balance: <%=Helpers.current_user(session).balance%></h3> <!--there was no @users defined in controller because controller has logic if/then, helpers are used here to identify the current user and if they are logged in -->
      <a href="/sessions/logout">Log Out</a>
    <% end %>
  </body>
</html>
