<% if Helpers.is_logged_in?(session) %>
    <% @user = Helpers.current_user(session) %>
    <h1>Welcome <%= @user.username %></h1>
    <h3>Your Balance: <%= @user.balance %></h3>
    <a href="/logout">Log Out</a>
<% end %>
