<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    
	  <h1>Welcome <%= Helpers.current_user(session).username  %></h1>
    <p>You Balance Is <%= Helpers.current_user(session).balance %></p>
   	<a href="/logout">Log Out</a>
  </body>
</html>