<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account Home</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <% if is_logged_in? %>
      <!-- should be using current_user to display username and balance? -->
      <%= @user.username %>
      <%= @user.balance %>
    <% else %>
      <a href="/">Home</a>
    <% end %>
    <a href="/logout">Log Out</a>

  </body>
</html>