<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% @user = Helpers.current_user(session) %>
    <% if Helpers.is_logged_in?(session) %>

      <h1>Welcome <%= @user.username %></h1>
      <h3>Your Balance: <%= @user.balance %></h3>
      <form action="/logout" method="post">
        <input type="submit" value="Log Out" />
      </form>
    <% else %>
      <a href="/error" />
    <% end %>

  </body>
</html>
