<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session) %>
      <h1>Welcome <%= Helper.current_user.username %></h1>
      <h3>Your Balance: <%= Helper.current_user.balance %></h3>
      <a href="/logout">Log Out</a>
    <% else %>

    <% end %>

  </body>
</html>
