<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome back to FlatBank!</h1>
      <h4>Username: <<%=@user.username%></h4>
      <h5>Balance: <%=@user.balance%></h5>
    <a href="/sessions/logout">Log Out</a>
  </body>
</html>