<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
   <h1>Welcome <%= @the_user.username  %></h1>
   <h3>Your Balance: <%= @the_user.balance %></h3>
   <p><a href='/logout'<Log Out></Log></a></p>
  </body>
</html>