<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h2>Welcome <%= Helpers.current_user(session).username %></h2>
    <p>Your balance is: <%= Helpers.current_user(session).balance %></p>
    <p><a href="/logout">Log Out</a></p>
  </body>
</html>