<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">


    <% if Helpers.is_logged_in?(session) %>
      <h1>Welcome <%= @user.username %></h1>
      <h3>Your Balance: <%= @user.balance %></h3>
    <% else %>
      <h2>You Must <a href="/">Log In</a> to View Your Balance</h2>
    <% end %>

    <p><a href="/logout">Log Out</a></p>


  </body>
</html>
