<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <a href= "/account">Log Out</a>

    <h3> Welcome <%=%></h3>
    <h3> Balance <%=@user.balance%></h3>

  

  </body>
</html>
