<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    Testing!
    
    
    <%# if Helpers.is_logged_in?(@session) %>
      <%# binding.pry %>
      <%# It appears that the session is accessible from within the views, so @session isn't needed! %>
      <%# user = Helpers.current_user(@session) %>
      
      <!-- <h1>Welcome <%#= user.username %></h1>
      <h3>Your Balance: <%#= "#{user.balance.round(2)}" %></h3>
      
      <a href="/logout"><button>Log Out</button></a> -->
    <%# else %>
      <%# erb :error %>
      <%#= render :error (This doesn't work in IRB, and it messes up the Learn IDE whenver I execute this erb code, with OR without the = sign. #render may be a Rails method, not Sinatra.) %>
      <%# erb :error (Interesting; this doesn't work, even though I can call it from PRY) %>
    <%# end %>
  </body>
</html>