<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
    <body id="page-top">
      <%if Helpers.is_logged_in?(session)%>
      <%=Helpers.current_user(session)%>
      <%=Helpers.curent_user(session).balance%>
      <a href='/logout'>Log Out</a>
      <% end %>
      <h1>Welcome to FlatBank</h1>
      <h1>Welcome <%=@current_user.user%></h1>
      <h3>Your Balance: <%=@current_user.balance%></h3>
         </body>
       </html>
