<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h2>Welcome <%=@user.name%></h2>
    <h3>Your balance: <%=@user.balance%></h3>
    <a href="/logout">Log Out</a>

  </body>
</html>
