<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if user.is_logged_in? %>
    <h1>User Name: <%=@user.username%></h1>
    <h2>Account Balance: <%=@user.balance%></h2>
    <%else %>
      <a href='/'>Home Page</a>
    <% end %>
    <a href='logout'>Log Out</a>
  </body>
</html>
