<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account info</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Account Info:</h1>
    <h1>Welcome <%= @user.username %></h1>
    <h3>Your Balance: <%= @user.balance %></h3>
    <form action="/logout" method="post">
      <input type="submit" name="Log Out" value="Log Out">
    </form>
  </body>
</html>
