<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <%if Helpers.is_logged_in?(session)%>
      <div>
        <h1>Welcome <%=Helpers.current_user(session).username%></h1>
        <h3>Your Balance: <%=Helpers.current_user(session).balance%></h3>
      </div>
      <form method ='get' action='/logout'>
        <input type='submit' value= 'Log Out'>
      </form>
    <%else%>
      <a href="/index">Please Sign In.</a>
    <%end%>
  </body>
</html>
