<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session) %>
          <h2>User: <%= Helpers.current_user(session).username %></h2>
          <h2>Balance: <%= Helpers.current_user(session).balance</h2>
    <% else %>
         <a href="/home">Home</a>
    <% end %>
  <a href="/logout">Log Out</a>    
  </body>
</html>