<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

<a href= '/sessions/logout' > Log Out </a>

<%=account_logged_in?%> if session[:username_logged_in? && balance]
else <a href = 'home/'</a> 
  </body>
</html>












  </body>
</html>
