<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  <h1>Welcome <%= Helpers.current_user(@session).username%></h1>
  <a href="Log Out" onclick="<%= @session.destroy %>">Log Out</a>

    <h3><%= Helpers.current_user(@session).username %></h3>
    <h3><%= Helpers.current_user(@session).balance %></h3>

    <a href="/home">Home</a>


  
  </p>
  </body>
</html>