<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <% if Helper.is_logged_in? %>
    <h1>Welcome <%= Helper.current_user.username %></h1>
    <h2>Your current balance is: <%= Helper.current_user.balance %></h2>
    <p><a href="/logout">Log Out</a></p>

    <% else %>
    <h1>You must be logged in to view your balance. <a href="/"></a></h1>
    <% end %>
  </body>
</html>
