<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in? %>
      <%= Helpers.current_user.username %>
      <%= Helpers.current_user.balance %>

      <a href="/logout">Log Out</a>
    <% else %>
      <a href="/">Sign In</a>
    <% end %>

  </body>
</html>
