<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account info</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(@params) %>
      <h1>Account Info:</h1>
      <h2>Welcome <%= @user.username %></h2>
      <h4>Account Balance: <%= @user.balance %></h4>
      <form action="/logout" method="post">
        <input type="submit" name="Log Out" value="Log Out">
      </form>
    <% else %>
      <p>You Must <a href="/">Log In</a> to View Your Balance</p>
    <% end %>
  </body>
</html>
