<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in? %>
    binding.pry #doesn't hit
      <h2>Welcome <%= Helpers.current_user %> </h2>
    <% else %>
      <a href="/">Home Page</a>
    <a href="/logout">Log Out</a>
    <% end %>
  </body>
</html>
