<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

  <% if Helpers.is_logged_in?(session) %>
    <h1>Welcome <%= Helpers.current_user(session).username %></h1>
    <h3>Your Balance: <%= Helpers.current_user(session).balance %></h3>

    <form method="GET" action="/logout">
      <input type="submit" id="submit" value="Log Out">
    </form>
  <% end %>

  </body>
</html>
