<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Account</title>
  </head>
  <body>
    <h1>Create an Account</h1>
    <form action="/create" method="post">
      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="text" name="password"></p>
      <p>Balance: <input type="text" name="balance"></p>
      <p><input type="submit" value="Create Account"></p>
    </form>
  </body>
</html>
