<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body>
    <p>You Must <a href="/">Log In</a> to View Your Balance</p>

  </body>
</html>