<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body>
    "You Must <a href="/">Log In</a> to View Your Balance"
  </body>
</html>
