<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form method="post" action="/login">
      <label for id="username">Username:</label>
      <input type="text" id="username" name="username">

      <label for id="password">Password:</label>
      <input type="text" id="password" name="password">

      <input type="submit" id="submit" value="Submit">
    </form>

  </body>
</html>
