<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form action="/login" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username">
      <p><label for="password">Password: </label>
      <input type="text" name="password" id="password"></p>
      <input type="submit" id="submit" name="Log In">
    </form>

  </body>
</html>
