<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="post">
    	<div>
	    	<label for="username">username</label>
	    	<input type="text" name="username" id="username">
    	</div>
    	<div>
    		<label for="password">password</label>
    		<input type="text" name="password" id="password">
    	</div>
<!--     	<div>
	    	<label for="balance">balance</label>
	    	<input type="text" name="balance" id="balance">
    	</div> -->
    	<div>
    		<input type="submit" name="submit" value="Log In">
    	</div>


    </form>
  </body>
</html>