<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="POST" action="/login">
      username: <input type="text" name="username">
      password: <input type="text" name="password">
                <input type="submit" value="submit">
    </form>

  </body>
</html>
