<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
      <form class="" action="/login" method="post">
        <p>User Name: <input type="text" name="username" value=""></p>
        <p>Password: <input type="password" name="password" value=""></p>
        <button type="submit" name="Log In">Log In</button>
      </form>
  </body>
</html>
