<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
      <tag>Username: <input type="text" name="username"></tag>
      <tag>Password: <input type="password" name="password"></tag>
      <input type="submit" value="Log In">
    </form>
    

  </body>
</html>
