<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
      <br><br>
      <label for="password">Password:</label>
      <input id="password" type="text" name="password">
      <br><br>
      <input type="submit">
    </form>

  </body>
</html>
