<h1>Welcome to FlatBank</h1>
<h3>Log In Please</h3>

<form class="" action="/login" method="post">
  <input type="text" name="username" id="username">
  <input type="password" name="password" id="password">

  <input type="submit" id="submit">
</form>
