<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action='/login' method ="POST">
      <label> <h3> Username: <input type = "text" id ="username" name = "username"> </h3> <br>
      <label> <h3> Password: <input type = "string" id = "password" name = "password"> </h3> <br>
        <button type='login' value='login'>Log In</button>
      </body>
</html>
