<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form class="" action="/login" method="POST">
      <label for="u_name">Username:</label>
      <input type="text" name="username" id="u_name"><br>
      <label for="u_pass">Password:</label>
      <input type="text" name="password" id="u_pass"><br>
      <input type="submit" value="Login">
    </form>

  </body>
</html>
