<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="post" id="form1">
      <p><label> Username: </label> <input type="text" name="username" id="username"></p>
      <p><label> Password: </label> <input type="text" name="password" id="password"></p>
    </form>
    <button type="submit" form="form1" value="submit">Log In</button>
  </body>
</html>