<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input name="username" id="username" type="text">
      <label for="password">Password:</label>
      <input name="password" id="password" type="text">
      <label for="balance">Balance:</label>
      <input name="balance" id="balance" type="text">
      <input type="submit" value="Log in">
    </form>

  </body>
</html>