<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form class="log_in" action="/login" method="post">
      <label for="username">Username: <input type='text' name='username' id='username'></label>
      <label for="password">Password: <input type='text' name='password' id='password'></label>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
