<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form action="/login" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username">
      <br>
      <label for="password">Password: </label>
      <input type="text" name="password">
      <br>
      <button type="submit" name="button">Log In</button>
    </form>
  </body>
</html>


<!-- <form action="/posts" method="post">
  <h1>Kevin's Basic Blog</h1>

  <label for="name">Blog Post Title:</label>
  <input type="text" name="name">
  <br><br>
  <label for="content">Blog Post Content:</label>
  <input type="text" name="content">
  <br><br>
  <input type="submit" value="submit">
</form> -->
