<h1>Welcome to FlatBank</h1>
<h3>Log In Please</h3>
<br>
<form action="/sessions" method="post">
  <label for="username">Your username: </label>
  <input type="username" name="username">
  <label for="password">Your Password: </label>
  <input type="password" name="password"><br>
  <input type="submit" value="Log In">
</form>
