<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form>
      <form "POST" action="/login">
        Username: <input type="text" name="username">
        Password: <input type="text" name="password"> 
        <input type="submit" value="Log In">
    </form>

  </body>
</html>