<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <% if @error %>
      <div class="alert alert-warning">
        <%= @error %>
      </div>
    <% end %>
    <form method="post" action="/login">
      <input type="text" name="login[username]" placeholder="Username">
      <input type="password" name="login[password]" placeholder="password">
      <input type="submit">
    </form>
  </body>
</html>