<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
    	<h3>Username: <textarea name="username"></textarea></h3>
		<h3>Password: <textarea name="password"></textarea></h3>
		<input type="submit" value="Log In">
    </form>

  </body>
</html>