<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form action = "/login" method = "POST">
      <!-- <input type = "text" id = "name" name = "name"> -->
      <input type = "text" id = "username" name = "username">
      <input type = "text" id = "password" name = "password">
      <input type = "text" id = "balance" name = "balance">
      <input id = "Login" type = "submit">
    </form>

  </body>
</html>