<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <form action="/login" method="post">
      <input type="text" name="username" />
      <input type="text" name="password" />
      <input type="submit" name="Submit" />
    </form>
  </body>
</html>
