<h1>Welcome to FlatBank</h1>
<h3>Log In Please</h3>

  <form action="/login" method="POST">
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" />
    </p>
    
    <p>
      <label for="password">Password:</label>
      <input type="text" name="password" />
    </p>

    <input type="submit" id="submit" />

  </form>
