<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form class="" action="/login" method="post">
      <p><input type="text" name="username" placeholder="Username"></p>
      <p><input type="password" name="password" placeholder="Password"></p>
      <p><input type="submit" name="Log In"></p>
    </form>
    
  </body>
</html>