<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <p>
      <form method="POST" action="/login">
      <p> Username: <input type="text" value="username" id="username"> </p>
      <p> Password: <input type="text" value="password" id="password"> </p>
      <input type="submit" value="Login">
    </form>
    </p>
  </body>
</html>
