<h1>Welcome to FlatBank</h1>
<h3>Log In Please</h3>
<form action="/login" method='post'>
	<p>Username: <label for="username"><input type="text" id="username" name="username"></label></p>
	<p>Password: <label for="password"><input type="text" id="password" name="password"></label></p>
	<p><label for="Log In"><input type="submit" id='log in' value="Log In"></label>
</form>