<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="post">
      <h2>Username: <input type="text" name="username" value=""></h2>
      <h2>Password: <input type="text" name="password" value=""></h2>
      <input type="submit" id="Log In" name="Log In" value="Log In">
    </form>
  </body>
</html>
