<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <br>
    <form method = "post" id="login" action="/login">
      <p>Username:</p>
      <input type = "text" value = "Username" id ="username">
      <br>
      <p>Password:</p>
      <input type = "password" value = "Password" id ="password">
      <br>
      <button type = "submit">Login</button>
    </form>
  </body>
</html>