<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
      <p><label>Name: </label><input type="text" name="username"></p>
      <p><label>Password: </label><input type="password" name="password"></p>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
