<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FlatBank Homepage Log In</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
      E-mail: <input type="email" name="email" />
      Password: <input type="password" name="password" />
      <input type="submit" value="Log In" />
    </form>
  </body>
</html>
