<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
      <p>
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username"><br>
      </p>
      <p>
        <label for="password">Password: </label><br>
        <input type="text" id="password" name="password"><br>
      </p>
      <p>
        <input type="submit" name="Log In">
      </p>
    </form>
  </body>
</html>