<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form action="/login" method="post">
      <h4><input type="text" value="username"></h4><br>
      <h4><input type="text" value="password"><h4>
        <input type="submit" value="Log In">
      </form>

  </body>
</html>
