<h1>Welcome to FlatBank</h1>
<h3>Log In Please</h3>

<form action="/login" method="POST">
  <label for="username">Username: </label>
  <input id= "username" type="text" name="username">

  <label for="password">Password: </label>
  <input id="password" type="password" name="password">

  <input type="submit" value="Log In">
</form>
