<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="POST">
      <h1>Username: <input type="text" label="username" name="username"/></h1><br>
      <h1>Password: <input type="text" label="password" name="password"></h1><br>
      <input type="submit" value="Log In">
    </form>
  </body>
</html>