<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
	<form method="post" action="/login">
	<p>Username <input name="username" type="text"></p>
	<p>Password <input name="password" type="text"></p>
	<input type="submit" id="submit" value="Log In">
	</form>
  </body>
</html>