<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="post">
      Username <input type="text" name="username"></br>
      Password <input type="text" name="password"><br>
      <button id="submit" type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
