<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form class="" action="/login" method="post">
      <h5>Username: </h5><input type="text" name="username" value="">
      <h5>Password: </h5><input type="password" name="password" value=""><br>
      <input type="submit" name="submit" value="log in">
    </form>

  </body>
</html>
