<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="POST" action='/login'>
    <label for="username">Username: </label>
    <br>
    <input type="username" name="username">
    <br>
    <label for="password">Password: </label>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <input type="submit" name="submit" value="Log In">
  </body>
</html>