<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <div class="login">
      <form action="/login" method="post">

      <h3>Username:</h3>
      <input type="text" name="username" value=""><br>
      <h3>Password:</h3>
      <input type="text" name="password" value=""><br>
      <input type="submit" id="submit" value="Submit">
    </form>

    </div>


  </body>
</html>
