<h1>Log In Below:</h1>
<form method="POST" action="/login">
  <p>Name: <input type="text" name="name"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Log In">
</form>
