<!-- Not part of original lab -->
<h1>Create a FlatBank account today!</h1>
<h3>Sign Up Below:</h3>
<form method="POST" action="/registrations">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <p>Balance: <input type="text" name="balance"></p>
  <input type="submit" value="Sign Up">
</form>